/* Other rules */
body {
    background-color: black;
    color: white;
    padding: 10px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    height: 100px;
}
.header img {
    max-height: 100px;
}

.section {
    /* height: 160px; */
    display: flex;
    overflow-x: auto;
    overflow: hidden;
    max-width: calc(100vw - 100px);

}

.section img {
    height: 120px;
}